.git
.gitignore
.dockerignore

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

*.log
*.db
*.sqlite

.env
.env.*

Dockerfile
Dockerfile.*
README.md
LICENSE
schema.pdf
task-1/
haproxy/
nginx/
proxy.yaml
