global
  maxconn 1000

defaults
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  default-server init-addr none

resolvers docker
  nameserver dns 127.0.0.11:53
  accepted_payload_size 8192
  hold valid 10s

frontend http_front
  bind *:8080
  default_backend http_back

backend http_back
  balance roundrobin
  server web web:5000 check resolvers docker resolve-prefer ipv4
